body {
  background: #eee;
  font-family: sans-serif;
  display: block;
  font-size: 16px;
}

div {
  margin: .5rem auto 0;
  padding: 1rem;
}

.card {
  width: 400px;
  background: #fff;
  padding: 1rem auto .5rem;
}

.title {
  background: #e3f4ff;
  font-weight: bold;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: .5rem 2rem;
  margin: auto;
}