/* General setup */

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt-Medium.woff2') format('woff2'),
        url('fonts/CooperHewitt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hjet';
    src: url('fonts/Hjet-Regular.woff2') format('woff2'),
        url('fonts/Hjet-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
  font-family: "Hjet";
}

h2 {
  font-size: 2.4rem;
  font-family: Hjet;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: "Cooper Hewitt";
}